.nav{
    width: 100%;
  height: 70px; 
  display: flex;
  align-items: center; 
  justify-content: space-around;
  padding: 0 2rem;
  background: linear-gradient(90deg, #39570fff, #b5523eff); 
  color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
.nav:hover{
    background: linear-gradient(90deg, #4c7212ff, #d86048ff);
  transform: translateY(-2px);
}
.title{
    font-size: 2rem; 
  font-weight: bold;
  color: #ff4c4c; 
  font-family: 'Poppins', sans-serif; 
  letter-spacing: 2px; 
  text-transform: uppercase; 
  cursor: pointer;
  padding-left:30px;
  transition: transform 0.3s ease, color 0.3s ease;
}
.cartLogo{
    position: relative; 
  display: flex;
  align-items: center;
  cursor: pointer;
}
.image{
     width: 40px;
   height: 40px;
   object-fit: contain;
}
.cartCount{
     position: absolute;
top: -5px;
right: -10px;
background: #ff9800;
color: white;
font-size: 0.8rem;
font-weight: bold;
padding: 3px 7px;
border-radius: 50%;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.cartCount:hover{
    transform: translateY(-3px);
}
.searchInput{
    padding: 10px 15px;
  width: 250px;
  border: 2px solid #ddd;
  border-radius: 30px;
  outline: none;
  font-size: 1rem;
  transition: all 0.3s ease;
  &:focus{border-color: #ff9800;
  box-shadow: 0 0 5px rgba(255, 152, 0, 0.5);}
}
.searchButton{
    padding: 10px 20px;
  border: none;
  background: #ff9800;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover{ background-color: #e68900;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);}
  &:active {
  transform: scale(0.95);
  }
}